@import url(font.css);
@import url(animations.css);

body {
    background: url(img/background.png), linear-gradient(75deg, pink, white);
    background-size: cover;
    font-family: ComicNeue, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    scrollbar-color: pink purple;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;               
    background-color: black;
    height: 1px;
}

.largeText {
    font-size: xx-large;
}

button[disabled], button:disabled {
    cursor: not-allowed;
    opacity: 0.25;
}

dialog #close {
    margin-top: 10px;
    width: 100px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.dialogContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.head {
    display: flex;
    gap: 10px;
}

img#logo {
    width: 100px;
    height: fit-content;
}

.content {
    padding-top: 10px;
    flex: 1;
}

.footer {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.slides {
    margin: none;
    padding-top: 10px;
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 700px;
    background: white;
    overflow-y: auto;
}
